.botones{
	.botonesLista{
		padding-left: 30px;
		padding-right: 30px;
		li{
			display: inline-block;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 5px;
			padding-right: 5px;
			button{
				padding: 13px;
				color: $blanco;
				font-weight: 500;
				border:none;
				background-color: rgba(255, 0, 255, 0.8);
				opacity: 0.8;
			}
			& .btn1{
				background-image: url("../img/1.jpg");
			}
			& .btn2{
				background-image: url("../img/2.jpg");
			}
			& .btn3{
				background-image: url("../img/3.jpg");
			}
			& .btn4{
				background-image: url("../img/4.jpg");
			}
			& .btn5{
				background-image: url("../img/5.jpg");
			}
			& .btn6{
				background-image: url("../img/6.jpg");
			}
			& .btn7{
				background-image: url("../img/7.jpg");				
			}
			& .btn8{
				background-image: url("../img/16.jpg");				

			}
			& .btn9{
				background-image: url("../img/9.jpg");
			}
			& .btn10{
				background-image: url("../img/10.jpg");
			}
			& .btn11{
				background-image: url("../img/11.jpg");
			}
			& .btn12{
				background-image: url("../img/12.jpg");
			}
			
		}	
	}
}
