*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.navbar{
	padding: 10px;
	background-color: $blanco;
	.row{
		.navTodo{
			li{
				display: inline-block;
				list-style: none;
				padding-left: 30px;
				a{
					color: $grisNav;
					font-weight: 300;
					font-size: 15px;
					padding-top: 10px;
					text-decoration: none;
					cursor: pointer;
				}
				input{
					width: 370px;
					padding-right: 0px;
					border-radius: 0px;
				}
				.dropdown{
					padding-left: 0px;
					border-radius: 0px;
				}
				p{
					color: $grisNav;
					font-weight: 300;
					font-size: 15px;
				}
			}
			}
		}
	}
